// vars
$pixelBase: 16;

/*------------------------------------*\
    CLEARFIXIN'
\*------------------------------------*/


@mixin clearfix() {
  *zoom:1;

  &:before,
  &:after {
      content:"";
      display:table;
  }
  &:after {
      clear:both;
  }
}


/*------------------------------------*\
    TRANSITION
\*------------------------------------*/


@mixin transition($transition...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }
  transition: $transition;
}

/*------------------------------------*\
    TRANSFORM
\*------------------------------------*/


@mixin transform($transform...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transform: $transform;
  }
  transform: $transform;
}


/*------------------------------------*\
    OPACITY
\*------------------------------------*/

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/*------------------------------------*\
    RESPONSINESS
\*------------------------------------*/


@mixin breakpoint($point) {
  @if $point == phone {
    @media only screen and (min-width : 320px) and (max-width : 480px) {
      @content;
    }
  }
  @if $point == phone-landscape {
    /* Smartphones (landscape) ----------- */
    @media only screen and (max-width : 480px) {
      @content;
    }
  }
  @if $point == phone-portrait {
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
      @content;
    }
  }
  @if $point == phone-iphone {
    @media only screen and (max-width: 480px), only screen and (min-width: 560px) and (max-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
      /* iPhone only */
      @content;
    }
  }
  @if $point == invert-phone {
    @media (min-width: 480px) { @content; }
  }

  @if $point == tablet {
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-width : 768px) and (max-width : 1024px) {
      @content;
    }
  }
  @if $point == tablet-landscape {
    /* iPads (landscape) ----------- */
    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
      @content;
    }
  }
  @if $point == tablet-portrait {
    /* iPads (portrait) ----------- */
    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
      @content;
    }
  }
  @if $point == invert-tablet {
    @media (min-width: 768px) { @content; }
  }
  
  @if $point == desktop {
    /* Desktops and laptops ----------- */
    @media only screen and (min-width : 1224px) {
      @content;
    }
  }
  @if $point == invert-desktop {
    @media (min-width: 1224px) { @content; }
  }

  @if $point == large-screens {
    /* Large screens ----------- */
    @media only screen and (min-width : 1824px) {
      @content;
    }
  }
  @if $point == invert-large-screen {
    @media (min-width: 1824px) { @content; }
  }
}

/*------------------------------------*\
    RESPONSINESS #2
\*------------------------------------*/


@mixin smallerThan($at) {
  @media only screen and (max-width: $at){
    @content;
  }
}
@mixin between($from, $to) {
  @media only screen and (min-width: $from) and (max-width: $to) {
    @content;
  }
}
@mixin biggerThan($at) {
  @media only screen and (min-width: $at){
    @content;
  }
}

@mixin maxHeight($at) {
  @media only screen and (max-height: $at){
    @content;
  }
}

@mixin maxAspectRatio($ar, $ar2) {
  @media only screen and (max-aspect-ratio: $ar "/" $ar2){
    @content;
  }
}


/*------------------------------------*\
    BOX SIZING
\*------------------------------------*/

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing:    $type;
  -ms-box-sizing:     $type;
  box-sizing:         $type;
}


/*------------------------------------*\
    PLACEHOLDER
\*------------------------------------*/


@mixin placeholder-general() {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin placeholder() {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}


/*------------------------------------*\
    Overflow Ellipsis
\*------------------------------------*/

@mixin overflow-ellipsis($width) {
  max-width: $width;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


/*------------------------------------*\
    Inline-block float fix
\*------------------------------------*/

@mixin inline-block-float-fix() {
  margin-right: -.16em; /* 5px */
}


/*------------------------------------*\
    BOX
\*------------------------------------*/

@mixin box($width: 24px, $height: $width, $line-height: $width) {
  width: $width;
  height: $width;
  line-height: $line-height;
  @include inline-block();
}


@mixin size($width, $height) {
  width: $width;
  height: $height;
}


/*------------------------------------*\
    Font sizing (rem) + fallback
\*------------------------------------*/

@mixin font-size($sizeValue: 1.6, $important: false) {
  @if $important {
    font-size: ($sizeValue * $pixelBase) + px !important;
    font-size: $sizeValue + rem !important;
  }
  @else {
    font-size: ($sizeValue * $pixelBase) + px;
    font-size: $sizeValue + rem;
  }
}


/*------------------------------------*\
    Sizes with rem + fallback
\*------------------------------------*/

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';
  $important: false;

  @for $i from 1 through $max {
    $value: nth($values, $i);
    @if $value == !important {
      $important: true;
    }
    @else {
      $value: strip-unit(nth($values, $i));
      $pxValues: #{$pxValues + $value * $pixelBase}px;
    }

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: nth($values, $i);
    @if $value != !important {
    $value: strip-unit(nth($values, $i));
      $remValues: #{$remValues + $value}rem;
    }
    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  @if $important {
    #{$property}: $pxValues!important;
    #{$property}: $remValues!important;
  }
  @else {
    #{$property}: $pxValues;
    #{$property}: $remValues;
  }
}

/*------------------------------------*\
    Items in a row
\*------------------------------------*/

@mixin row-items($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}



@mixin slider-items($numPerRow) {
  width: (1% / $numPerRow);
}

/*------------------------------------*\
    Flexbox
\*------------------------------------*/

@mixin flexbox() {
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}


@mixin fixedbox($width, $top, $zindex) {
  width: $width;
  position: fixed;
  top: $top;
  left: 50%;
  margin: 0 0 0 (-($width / 2));
  z-index: $zindex;
}



@mixin fluid-type($properties, $min-screen, $max-screen, $min-value, $max-value) {
  & {

    @media screen and (max-width: 767px) {
      @each $property in $properties {
        #{$property}: $min-value;
      }
    }

    @media screen and (min-width: 767px) {
      @each $property in $properties {
        #{$property}: $max-value * 0.7;
      }
    }

    @media screen and (min-width: 1024px) {
      @each $property in $properties {
        #{$property}: $max-value * 0.75;
      }
    }

    @media screen and (min-width: 1100px) {
      @each $property in $properties {
        #{$property}: $max-value * 0.85;
      }
    }

    @media screen and (min-width: 1200px) {
      @each $property in $properties {
        #{$property}: $max-value * 0.95;
      }
    }

    @media screen and (min-width: 1300px) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }

    @media screen and (min-width: (($min-screen / 100) * 62.5)) {
      @each $property in $properties {
        #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value); 
      }
    }

    @media screen and (min-width: (($max-screen / 100) * 62.5)) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

// Requires the calc-interpolation function which can also be used independently

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
  $a: ($max-value - $min-value) / ($max-screen - $min-screen);
  $b: $min-value - $a * $min-screen; 

  $sign: "+";
  @if ($b < 0) {
    $sign: "-";
    $b: abs($b);
  }
  @return calc(#{$a*100}vw #{$sign} #{$b});
}


@function between($to, $from, $toWidth, $fromWidth) {
  $slope: ($to - $from) / ($toWidth - $fromWidth);
  $base: $from - $slope * $fromWidth;

  @return calc(#{$base} + #{100vw * $slope});
}
