
// Mixins
@import "mixins";


body {
	margin: 0;
	-webkit-animation: fadein 0.2s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
	animation: fadein 0.3s;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
	
}

.fadeIn {
	@include opacity(0);
}

@keyframes fadein {
	0% {
	  @include opacity(0);
	}
	100% {
	  @include opacity(1);
	}
}
  
@-webkit-keyframes fadein {
	0% {
	  @include opacity(0);
	}
	100% {
	  @include opacity(1);
	}
}
  
.mainlogo {
	max-width: 100px;
	float: left;
}

.mainnav {
	float: left;
	margin-top: 30px;
	&__item {
		display: inline-block;
		margin-right: 30px;
	}
}

.section {
	width: 100%;
	float: left;
	text-align: center;

	& h1 {
		font-size: 50px;
		font-weight: bold;
	}

	& img {
		display: inline-block;
	}
}